*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 14%;
    /* margin-left: 10px; */
}
.header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d8d7d7;
}
.nav-list{
    text-decoration: none;
    color: #1C1ED9;
}
.ul{
    display: flex;
    list-style: none;
    /* margin-left: 20px; */
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    font-size: 20px;
}
.nav-btn{
    padding: 10px 20px;
    background-color: #1C1ED9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.hero{
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 300px 0px;
    background: #00bbff;
    display: flex;
    justify-content: center;
background: linear-gradient(90deg, rgba(0, 187, 255, 1) 0%, rgba(0, 43, 255, 1) 100%);
}
.left{
    margin-left: 20px;
    width: 60%;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.hero-heading{
    margin-top: 70px;
    font-size: 50px;
    font-weight: 700;
}
.hero-para{
    margin-top: 20px;
    font-size: 20px;
}
.right{
    width: 40%;
    padding: 20px;
}
.sp{
    color: #2225f0;
}
.hero-btn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color:white ;
    color: #1C1ED9;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;    
}