*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 14%;
    /* margin-left: 10px; */
}
.header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #d8d7d7; */
    background-color: #dadada;
}
.nav-list{
    text-decoration: none;
    color: #1C1ED9;
}
.ul{
    display: flex;
    list-style: none;
    /* margin-left: 20px; */
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    font-size: 20px;
}
.nav-btn{
    padding: 10px 20px;
    background-color: #1C1ED9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.hero{
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 300px 0px;
    /* background: #00bbff; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 20px;
/* background: linear-gradient(90deg, rgba(0, 187, 255, 1) 0%, rgba(0, 43, 255, 1) 100%); */
}
.left{
    margin-left: 20px;
    width: 60%;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.hero-heading{
 
    font-size: 50px;
    font-weight: 700;
}
.hero-para{
    margin-top: 20px;
    font-size: 20px;
}
.right{
    width: 40%;
    padding: 20px;
}
.sp{
    color: lightblue;
}
.hero-btn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color:white ;
    color: #1C1ED9;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;   
       margin-bottom: 80px; 
}
.hero-img-main{
    width: 80vh;
    height: 100vh;
    margin-top: 150px;
}
.about-main{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
    margin-bottom: 120px;
}
.about-left{
    padding: 20px;
    font-size: 20px;
    width: 40%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-heading{
    font-size: 50px !important;

}
.about-span{
    color: #13358F;
}
.about-right{
    width: 55%;
    padding: 20px;
}
.about-img{
    width: 100%;
    height: 400px;
}
.os{
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background: #121FCF;
background: linear-gradient(to right, #121FCF 0%, #3E8BFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.texting{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texting-para{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.card-main{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
align-items: center;
}
.card{
    width: 200px;
    height: 300px;
    background-color: #F1F5FE;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    gap: 10px;

}
.card-img{
    width: 100%;
    height: 100px;
}